/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  width: 100%; }

#root > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5vh;
  width: 100vw;
  margin: auto; }
  #root > footer p {
    font-size: 125%;
    height: 75%;
    display: block;
    margin: auto; }

#root > header nav {
  font-size: 150%;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin-bottom: 3%; }
  #root > header nav div {
    padding: 3px;
    flex-grow: 1;
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: #0F5; }
  #root > header nav div > ul {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100%;
    right: -2px;
    top: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #0F5; }
  #root > header nav div > ul > li {
    padding: 3px;
    margin: 0;
    display: block;
    background-color: #222; }
  #root > header nav div > ul > li:hover {
    background-color: #2F2F2F; }
  #root > header nav div:hover {
    border-color: #0F5; }
  #root > header nav div:hover > ul {
    display: block; }

body {
  background-color: #222;
  color: #0F5; }

button, input[type=button], input[type=submit] {
  border-style: solid;
  border-radius: 15px;
  background-color: #222;
  color: #0F5; }

h1 {
  font-size: 300%; }

header {
  margin: auto;
  text-align: center;
  color: #0F5; }

footer {
  margin: auto;
  text-align: center;
  color: #0F5; }

main {
  margin: auto;
  text-align: center;
  color: #0F5; }

a {
  color: #0F5;
  text-decoration: none; }

a:visited {
  color: #0F5;
  text-decoration: none; }

p {
  color: #0F5; }
