@import '../lib/variables';
@import '../lib/mixins';

table {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: $primary-darker;
  box-shadow: 0 0 5px #000;
  @include border(2px, solid, $primary-darker);

  th, td {
    @include border(2px, solid, $accent-color);
    padding: 5px;
  }

  th {
    background-color: $accent-color;
    color: $primary-color;
  }

  td:nth-child(even) {
    background-color: $primary-color;
  }
}

section.row {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $primary-darker;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
  display: flex;
  
  > div { /* div acts as rows */
    display: flex;
    flex-direction: row;
    border-top: 2px solid $accent-color;

    * {
      padding: 5px;
    }

    *:not(footer):not(header) {
      border-left: 2px solid $accent-color;

      &:last-child {
        border-right: 2px solid $accent-color;
      }
      &:nth-child(odd) {
        background-color: $primary-color;
      }
    }

    > header, > footer {
      width: 100%;
      height: 100%;
      background-color: $accent-color;
      color: $primary-color;
    }
    
    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-bottom: 2px solid $accent-color;
      border-radius: 0 0 5px 5px;
    }
  }
}

section.column {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $primary-darker;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  
  > div { /* div acts as rows */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border: 2px solid $accent-color;
    border-right: none;

    *:not(:last-child) {
      border-bottom: 2px solid $accent-color;

      &:nth-child(odd):not(header) {
        background-color: $primary-color;
      }

      &:not(header):not(footer) {
        padding: 5px;
      }
    }

    > header, > footer {
      background-color: $accent-color;
      color: $primary-color;
    }

    footer {
      width: 100%;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
      border-right: 2px solid;
    }
  }
}