:root > header {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    ul {

    }
    ul:hover {
      
    }
    
    li {

    }
  }
}